body{
    font-family:arial,sans-serif;
    margin: 20px;
}
.menu {
    background: #bbb;
    padding: 10px;
}
#titulo{
    color:blue
}
table{
    border-collapse: collapse;
    width: 50%;
}
th,td {
    border: 1px solid black;
    padding: 8px;
}
a:hover{
    color:red;
}